@model IEnumerable<TestePratico.Web.ViewModels.UFViewModel>

@{
	ViewData["Title"] = "UFs";
}

<h2>UFs</h2>

<p>
	<a asp-action="Create" class="btn btn-primary">Criar</a>
</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NumPessoas)
		</th>
		<th></th>
	</tr>

	@if (Model.Count() > 0)
	{
		foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumPessoas)
				</td>
				<td>
					@Html.ActionLink("Editar", "Edit", new { id = item.UFId }) |
					@Html.ActionLink("Detailhes", "Details", new { id = item.UFId }) |
					@Html.ActionLink("Excluir", "Delete", new { id = item.UFId })
				</td>
			</tr>
		}
	}
	else
	{
		<tr>
			<td colspan="7" class="text-muted text-center">Nenhum registro cadastrado.</td>
		</tr>
	}


</table>
