@model IEnumerable<TestePratico.Web.ViewModels.PessoaViewModel>

@{
	ViewData["Title"] = "Pessoas";
}

<h2>Index</h2>

<p>
	<a asp-action="Create" class="btn btn-primary">Criar</a>
</p>
<table class="table table-bordered table-striped">
	<tr>
		<th>
			<label asp-for="@Model.First().Nome"></label>
		</th>
		<th>
			<label asp-for="@Model.FirstOrDefault().DataNascimento"></label>
		</th>
		<th>
			<label asp-for="@Model.FirstOrDefault().DDD"></label>
		</th>
		<th>
			<label asp-for="@Model.FirstOrDefault().Telefone"></label>
		</th>
		<th>
			<label asp-for="@Model.FirstOrDefault().Email"></label>
		</th>
		<th>
			<label asp-for="@Model.FirstOrDefault().UFId"></label>
		</th>
		<th></th>
	</tr>

	@if (Model.Count() > 0)
	{
		foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataNascimento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DDD)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Telefone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UF)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.PessoaId">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.PessoaId">Detalhes</a> |
					<a asp-action="Delete" asp-route-id="@item.PessoaId">Excluir</a>
				</td>
			</tr>
		}
	}
	else
	{
		<tr>
			<td colspan="7" class="text-muted text-center">Nenhum registro cadastrado.</td>
		</tr>
	}
</table>
